@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.blinking-cursor {
  animation: blink 0.7s steps(1) infinite;
  border-left: 0px solid black;
  margin-left: 2px;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

